[flake8]

max-line-length = 140

ignore = 
    A003, # shadowing a python builtin
    D103, # Missing docstring in public function
    D107, # Missing docstring in __init__
    D104, # Missing docstring in public package
    E203, # Whitespace before ':' - for black
    W503, # Line break occurred before a binary operator
    E402, # Module level import not at top of file - abs. path - docker_job_exec.py

exclude =
    env,
    venv,
    .venv

